In [1]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.41-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.13.2)
Downloading sqlalchemy-2.0.41-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 39.5 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (605 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 605.5/605.5 kB 21.3 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [sqlalchemy]2 [sqlalchemy]
Successfully installed greenlet-3.2.3 sqlalchemy-2.0.41

In [2]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.7.tar.gz (91 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.7-cp312-cp312-linux_x86_64.whl size=134055 sha256=c8bc24adc7d918a0c3983049ddc9a8a2ab9722e22c88bfbd30b4889e11c09c44
  Stored in directory: /home/codespace/.cache/pip/wheels/27/95/18/7f176fffd46629e710c04c810b9c4d7d4358fe7c96a7d2306d
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7

In [3]:
import pandas as pd
import sqlalchemy as db

In [ ]:
# Vamos a comenzar a ver cuantos metodos para leer BD
# Primero realizaremos la conexion a la BD
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")
conn = engine.connect()

In [ ]:
# Forma 1: Acceder a las tablas mediante queries 
departments_df = pd.read_sql_query('select * from departments', conn)
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [ ]:
# Forma 2: Leer la tabla directamente sin consulta y solo el nombre de la tabla
departments_df = pd.read_sql_table('departments', conn)
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [ ]:
#Forma 3: Esto tambien nos permite ejecutar queries y tambien tablas directamente
departments_df = pd.read_sql('select * from departments', conn)
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [10]:
#Forma 3: Esto tambien nos permite ejecutar queries y tambien tablas directamente
departments_df = pd.read_sql('departments', conn)
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [ ]:
# Si tienes mucha data en la consulta el read_sql_query eso puede costar en tiempos de conexion, 
# es recomendable cargar tus tablas con read_sql o read_sql_table y luego realizar las transformaciones.
# Tengamos cuidado con las vistas puesto que al final realizar las compilaciones internamente

In [13]:
# Para carga datos a SQL usaremos el metodo To SQL
# en if_exists: fail(retorna error)
departments_df.to_sql('departments_pandas' , conn, if_exists='fail')

ValueError: Table 'departments_pandas' already exists.

In [ ]:

# al leerlo se carga el indice, para ello eliminamos los indices
departments_df2 = pd.read_sql('departments_pandas', conn)
departments_df2.head()

   index  department_id department_name
0      0              2         Fitness
1      1              3        Footwear
2      2              4         Apparel
3      3              5            Golf
4      4              6        Outdoors

In [14]:
# Para carga datos a SQL usaremos el metodo To SQL
# en if_exists: fail(retorna error)
# el index te ayuda a ignorar la carpa de esa nueva columna
departments_df.to_sql('departments_pandas' , conn, if_exists='replace', index=False)

6

In [15]:
# al leerlo se carga el indice, para ello eliminamos los indices
departments_df2 = pd.read_sql('departments_pandas', conn)
departments_df2.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [ ]:
!python -m pip install "pymongo[srv]"